<!DOCTYPE html>
<html>
<head>
    <title>Download CSV</title>
</head>
<body>
    <h1>Download Combined CSV File</h1>
    <p>Click the button below to generate and download the combined CSV file.</p>
    <form method="post" action="{% url 'generate_and_download_csv' %}">
        {% csrf_token %}
        <label for="tuesday">Id</label>
        <input type="checkbox" name="selected_columns" value="mod_id"> <br>
        <label for="tuesday">DBP_Price</label>
        <input type="checkbox" name="selected_columns" value="dbp_price"> <br>
        <label for="tuesday">DBP_distance</label>
        <input type="checkbox" name="selected_columns" value="dbp_km"> <br>
        <label for="tuesday">ADP</label>
        <input type="checkbox" name="selected_columns" value="dap"> <br>
        <label for="tuesday">Waiting Time</label>
        <input type="checkbox" name="selected_columns" value="waiting_charge"> <br>
        <label for="tuesday">Waiting Price</label>
        <input type="checkbox" name="selected_columns" value="waiting_time"> <br> 
        <label for="tuesday">Modified By</label>
        <input type="checkbox" name="selected_columns" value="status"> <br> 
        <label for="tuesday">Status</label>
        <input type="checkbox" name="selected_columns" value="usermodifiedby"> <br>
        <label for="tuesday">TimeStamp</label>
        <input type="checkbox" name="selected_columns" value="created_at"> <br>
        <br>
        <!-- ... more checkboxes ... -->
        <button type="submit">Download CSV</button> 
      </form>
</body>
</html>
